*{
    background-color: lightgray;
}

.main-generator{
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
}

.main-generator label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;}

h4{
    box-sizing: border-box;
    margin: auto;
}

.imageDiv{
    position: relative;
}

#memeCanvas{
    width: 100%;
}   

#addMemebtn{
    text-decoration-style: dashed;
    color: white;
    background-color: rgb(57, 106, 253);
}

.divImage{
    position: relative;
    display: inline-block;
    text-align:center;
}



.divText{
    /* position: absolute;
    margin-left: 60px;
    font-weight: bold;
    display: inline-block;
    -webkit-text-stroke: 1px black; 
    font-family: sans; color: white;
    font-size: 30px; */

    position: absolute;
    top: 8px;
    left: 16px;
}

.divTextBt{
    /* position: absolute;
    font-weight: bold;
    display: inline-block;
    -webkit-text-stroke: 1px black; 
    font-family: sans; color: white;
    bottom: 0px;
    left: 60px;
    font-size: 30px; */
    position: absolute;
    bottom: 8px;
    left: 16px;
    
}

.frameDiv{
    position: relative;
    text-align: center;
    color: white;
}
